<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>
<div class="card bg-dark text-white">

  <div class="card-header">{{title}}</div>

  <div class="card-body">

    <form #clientForm="ngForm">

      <div class="form-group row my-1">
        <label for="name" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name" #name="ngModel" minlength="3" required> <!--minlength="3" required -->
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              Name is Required
            </div>
            <div *ngIf="name.errors.minlength">
              Name should have at least 3 characters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row my-1">
        <label for="surname" class="col-form-label col-sm-2">SurName</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.surname" name="surname" #surname="ngModel" minlength="3" required> <!--minlength="3" required -->
          <div class="alert alert-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
            <div *ngIf="surname.errors.required">
              SurName is Required
            </div>
            <div *ngIf="name.errors.minlength">
              SurName should have at least 3 characters
            </div>
        </div>
      </div>
      </div>

      <div class="form-group row my-1">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.email" name="email" #email="ngModel" email required> <!-- email required -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email is Required
            </div>
            <div *ngIf="email.errors.email">
              Email should have valid format
            </div>
        </div>
      </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Date</label>
        <div class="col-sm-6">
          <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="client.createdDate" name="createAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="client.cli_region" name="region" style="width:400px;">
            <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row my-1">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!client.id else elseBlock" [disabled]="!clientForm.form.valid">Create</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clientForm.form.valid">Edit</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>

</div>
