<app-detail *ngIf="selectedClient" [client]="selectedClient"> </app-detail>
<div class="card border-primary mb-3">
  <div class="card-header">List Of Clients</div>
  <div class="card-body text-primary">
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">
        Create Client
      </button>
    </div>
    <div *ngIf="clients?.length == 0" class="alert alert-info">
      No Data In Database!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">SurName</th>
          <th scope="col">Created Date</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>
            <img (click)="openModal(client)" *ngIf="client?.photo" src="http://localhost:8080/api/uploads/img/{{client.photo}}" alt="{{client.photo}}" class="img-thumbnail rounded"
            style="width:64px; cursor:pointer;">

            <img (click)="openModal(client)" *ngIf="!client?.photo" src="http://localhost:8080/api/uploads/img/no-user.png" alt="No Photo" class="img-thumbnail rounded"
            style="width:64px; cursor:pointer;">
          </td>
          <td>{{ client.name }}</td>
          <td>{{ client.surname | uppercase }}</td>
          <td>{{ client.createdDate | date:"EEEE dd, MMMM yyyy"}}</td>
          <td>{{ client.email }}</td>
          <td>
            <button type="button" name="edit" [routerLink]="['/clients/form', client.id]" class="btn btn-primary btn-sm">Edit</button>
          </td>
          <td>
            <button type="button" name="delete" (click)='delete(client)' class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
  </div>
</div>
